
html, body{
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	margin: auto;
}

.header{
	background-color:black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
}

.p-header{
	color:white;
	font-size: 13px;
	font-weight: lighter;
	letter-spacing: 1px;
	margin-right: auto;
	margin-left: auto;
}

.fa{
	cursor: pointer;
}

.logo{
  width: 35%;
  padding-right: 70px;
}

.images{
	display: flex;
	flex-wrap: wrap;
	
}

img{
	width:100%;
	
}

.sidenav {
	height: 100%; 
	width: 0; 
	position: fixed; 
	z-index: 1; 
	top: 39px; 
	left: 0;
	background-color:black; 
	overflow-x: hidden; 
	padding-top: 60px;
	transition: 0.5s; 
  }
  
	.sidenav a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 18px;
		color: #818181;
		display: block;
		transition: 0.3s;
  	}
  
  	.sidenav a:hover {
		color: #f1f1f1;
  	}
  
  	.sidenav .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
  	}
  
  
@media screen and (max-height: 450px){
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

.head-2{
	background-color: white;
	width: 90%;
	height:120px;
	display: flex;
	justify-content: space-between;
	margin-right: auto;
	margin-left: auto;
}
  
.search-input{
	align-items: center;
	display: flex;
	width:200px;
	justify-content: space-around;	
	
}

.search-header{
	outline: none;
	border: solid 1px grey;
	width:150px;
	height: 30px;
	background: white url("../img/search-icon.png") no-repeat;
	background-size: 1rem;
	background-position: 6px;
	padding-left: 25px;
	margin-left: 20px;
}

.other-icons{
	width:120px;
	display: flex;
	justify-content: space-around;
	align-items: center;

}

form{
	width:70%;
	text-align: center;
	margin:0 auto;
}

